/*Universal*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #caf0f8;
    color: #023e8a;
    margin: 0;
}


h1 {
    font-family: Helvetica, sans-serif;
    font-size: 44px;
    text-align: center;
    width: auto;
}

h2 {
    font-size: 1.3rem;
    padding-left: 1rem;
    width: auto;
}

/*Prima Parte*/
.titolo-foto {
    padding-left: 1rem;
    padding-top: 2rem;
}
.dati-personali {
    float: left;
}

li, p, span {
    font-size: 22px;
}

.first-part {
    background-color: #90e0ef;
    border: 2px solid #0096c7;
    width: 95%;
    margin: 0 auto;
    border-radius: 0.3rem;
}

#foto {
    width: 12%;
    height: auto;
    border-left: 10px groove #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    float: left;
}

.links h2 {
    text-align: center;
    padding: .2rem;
}
.links h2 a {
    text-decoration: none;
    color: #023e8a;
    border: 2px solid #0096c7;
    background-color: #caf0f8;
    padding: .3rem;
    border-radius: .3rem;
    transition: .3s;
}

h2 a:hover {
    background-color: aliceblue;
}

/*Soft Skills*/

#earned-skills {
    padding-top:1rem;
    padding-right: 9rem;
    padding-bottom: 1rem;
    background-color: #caf0f8;
    margin-bottom: 1rem;
    margin-left: 0rem;
    border-left: 10px groove #1C6EA4;
    border-radius: 0px 40px 0px 40px;
}
#earned-skills h2 {
    text-align: center;
}
#earned-skills ul {
    margin: 2rem;
}

#earned-skills li {
    list-style: circle;
}

/*Competenze*/
.competenze {
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-direction: column;
}

.competenze1 {
    background-color: #caf0f8;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-top: 10px groove #1C6EA4;
    border-radius: 0px 40px 0px 40px;

}
/*Parte finale*/
#descrizione {
    padding: 0 1rem;
}
